@charset "UTF-8";

section#conteudo {
  width: 1000px;
  margin: auto;
}

iframe#frame-spec {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 600px;
  left: 700px;
  border: none;
  overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
display: none;
}
