@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?família=Cherry+Cream+Soda&family=Edu+TAS+Iniciante:wght@600&family=Edu+VIC+WA+NT+Beginner&display=swap);
@import url(https://fonts.googleapis.com/css2?família=Cherry+Cream+Soda&family=Edu+TAS+Iniciante:wght@600&family=Edu+VIC+WA+NT+Beginner&family=Rubik+Moonrocks&display=swap);
@font-face {
  font-family: 'fonteLogo';


}

body{
  font-family: Arial, sans-serif;
 background-color: coral;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;

}


div#interface {
  width: 900px;
  background-color: #cccccc;
  margin: -25px auto 0px auto;
  box-shadow: 0px  0px  10px  black;
  padding: 10px;

}

p{
  text-align: justify;
  text-indent: 50px;
}
a {
  color: black;
  text-decoration: aquamarine;
}
a:hover{
  text-decoration: underline;
}
header#cabecalho {
  border-bottom: 1px #606060 solid;
  width: -10px;
  background: url("../img/minhafoto.webp") no-repeat;
  background-size: contain;
}

header#cabecalho h2 {
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 30px;
  color: #222222;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  padding: 0px;
 margin-bottom: -15px;
}


/* formatacao do menu*/

nav#menu {
  display: block;

}

nav#menu ul {
list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  left: 300px;
}

nav#menu li {
  display: inline-block;
  background-color: aquamarine;
  padding: 10px;
  margin: 2px;

}

nav#menu li:hover {
  background-color: blue;
}

nav#menu h1 {
  display: none;
}

nav#menu a {
  color: black;
  text-decoration: none;
}
nav#menu a:hover{
  color: #cccccc;
  text-decoration: underline;
}

section#corpo {
  display: block;
  width: 462px;
  float: left;
  border-right: 1px solid #888888;
  padding-right: 15px;

}

article#noticia-principal h2 {
  font-size: 18px;
  color: aqua;
  background-color: #888888;
  padding: 10px 0px 10px 0px;
  margin: 10px;
}

header#cabecalho-artigo h1{
  font-family: fonteLogo, sans-serif;
  font-size: 20pt;
  color: coral;
  margin-bottom: 0px;
}

header#cabecalho-artigo h2{
font-size: 13pt;
  color: #b3d4fc;
  background-color: white;

}
header#cabecalho-artigo h3{
font-size: 12px;

}
.direita {
  text-align: right;
}

table#tabelaspec{
  border: 1px solid #222222;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;

}
table#tabelaspec td{
  border: 1px solid #555555;
  padding: 10px ;
  text-align: center;
  vertical-align: middle;
}

table#tabelaspec td.ce{
color: #222222;
  background-color: #ffd8e9;
  vertical-align: center;
  font-weight: bold;
}
table#tabelaspec td.cd{
  color: black;
  background-color: #f6ffff;
  font-weight: bold;
}

table#tabelaspec caption{
  color: #888888;
  font-size: 12pt;
  font-weight: bolder;

}
table#tabelaspec caption h1{
  margin-bottom:-60px;
}

table#tabelaspec caption span {
display: block;
  float: right;
  color: black;
  font-size: 8pt;
  margin-top: 50px;
}
aside#lateral {
  display: block;
  width: 400px;
  float: right;
background-color: #888888;
  padding: 10px;
  margin-top: 0px;
  box-shadow: 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
font-family: fonteLogo, sans-serif;
  font-size: 15pt;
  color: #f6ffff;
  background-color: #555555;
  margin-top: -10px;
}
aside#lateral h3 {
background-color: white;
  font-size: 15pt;
  color: #222222;
  padding: 5px;
  }
footer#rodape {
  clear: both;
  border-top: 1px solid #999999;
  padding-top: 5px;
}
footer#rodape {
  text-align: center;
}
